<h1>Congratulations. This is dashboard.</h1>

See and create Teams:
<%= link_to "Teams", teams_path, class: "btn btn-default" %>
<br>

See and create Users:
<%= link_to "Users", users_path, class: "btn btn-primary" %>
